{% extends 'base.html' %}
{% load static %}



{% block body %}

<section class="container-fluid specialEducationPageHead">
    <div class="row">
        <p class="pageHeadTitleMain col-md-3">Special Education</p>
    </div>
</section>
<div class="container allPageData">
    <p class="mainTitle">What is Special Education?</p>
    <p class="normalText"><span class="boldandcolored">Special Education</span> is a set of guidelines that
        teachers, parents, and students follow so that each child has a specific educational plan in place. All
        stakeholders will have input into creating the specific learning objectives for each child with special
        education services. The idea behind this is so that the children that need the most help in certain
        educational and social areas will get focused support from not only the classroom teacher, but also from the
        special education team of teachers. The team of educators, parents, and consultants will eventually meet to
        create an IEP (Individualized Education Plan) for the child. </p>
    <p class="normalText"><span class="boldandcolored">Special Education</span> services are not only put into place
        for students that have specific disabilities, but the Special Education services are also available for
        students with significantly high abilities, usually referred to as "gifted". </p>
    <p class="mainTitle">Who is eligible for special education?
    </p>
    <p class="normalText">Certain children with disabilities are eligible to receive special education and related
        services. IDEA offers a definition for a "child with a disability," and the law lists 13 different
        categories of disabilities under which children can be eligible to receive special education and related
        services. These categories are:</p>
    <ul class="specialEducationContent">
        <li>Autism</li>
        <li>Deaf-Blindness</li>
        <li>Deafness</li>
        <li>Developmental Delay</li>
        <li>Emotional Disturbance</li>
        <li>Hearing Impairment</li>
        <li>Mental Retardation</li>
        <li>Multiple Disabilities</li>
        <li>Orthopedic Impairment</li>
        <li>Other Health Impairment</li>
        <li>Specific Learning Disability</li>
        <li>Speech or Language Impairment</li>
        <li>Traumatic Brain Injury</li>
        <li>Visual Impairment Including Blindness</li>
    </ul>
    <div class="row">
        <div class="secondaryTitle col-md-2">
            <p>Autism</p>
        </div>
    </div>
    <img class="img-responsive" src="{% static 'imgs/autizmPage.jpg' %}">
    <p class="mainTitle">Signs of Aggressive Behavior in Autistic Children</p>
    <p class="normalText">With the birth of autistic children, their families start struggling with many problems.
        Behavioral impairment is one the biggest problems for families having children with autism. Sometimes mild,
        but often intense, behavioral impairments are observed such as self-harm, biting, scratching, hitting head,
        biting siblings or kicking.
        First of all, it is necessary to find the cause of aggression and to remove the situation or thing that
        causes the child to become aggressive. If the cause of aggression is not known exactly, it could be some
        kind of pain. For example, if they have a teeth or abdominal pain and people with autism may not explain
        this situation with language skills so they can react with aggression.<br>
        Being afraid of toilet, not being able to speak, understand what is said, going out of routine or not being
        able to reach a thing they want are among the causes of aggression. It is very important that the children
        with autism is observed by parents and educators well and to find the cause of aggression with therapies and
        observations in the autism treatment. Aggression is seen in situations such as anxiety, fear, anger,
        insecurity, failure and suffering.</p>
    <p class="mainTitle">What to do?</p>
    <p class="normalText">The frequency and intensity of aggression and tantrums must be certainly coped with
        because it affects the learning quality of the children with autism negatively. The causes of aggression and
        tantrum must be found and treated. In case of aggression or tantrum, the autistic children should not be
        intimidated. It should not be forgotten that this is a way of expressing a situation that the autistic
        people are disturbed. With good observation, it is possible to determine what the children’s expects. When
        trying to change problematic behaviours, they should not be rushed, they should be changed without losing
        confidence. It should also not be forgotten that one reason for aggression is trying to attract the
        attention of the parents.<br>
        These problems can be removed by creating a list of aggression cases. Instead of entering a crowded place
        with autistic children who reacts excessively to voices or noise, routine work such as shopping can be made
        by one of the family members alone. It should be known that a lot of things can be changed with a balanced
        and consistent behavioural training. Support from an expert should be obtained and it must be remembered
        that parental support is very important.
    </p>
    <div class="row">
        <div class="secondaryTitle col-md-2">
            <p>Anxiety</p>
        </div>
    </div>
    <img class="img-responsive" src="{% static 'imgs/Anxietypage.jpg' %}">
    <p class="normalText">All children and young people have fears and worries which is quite normal. This can be a
        concern when they affect your child’s thoughts and behaviours on a daily basis.
        Find out more about anxiety and how to help your child manage and cope.
    </p>
    <p class="mainTitle">Children's anxiety</p>
    <p class="normalText">All children and young people have fears and worries. These could include a fear of the
        dark, getting lost or abandoned. These anxious feelings can also be in response to a major change or
        stressful event - for example, starting at a new school or moving to a new house. These fears and worries
        are quite normal, however, there may be a cause for concern when they affect your child’s thoughts and
        behaviours on a daily basis. Your child might not want to take part in school and home life or participate
        in social activities.
    </p>
    <p class="mainTitle">Anxiety in children</p>
    <p class="normalText">Anxiety presents itself in different ways depending on the child or young person. School
        aged children who are anxious may show it in their behaviours.<br>
        They may;<br>
        • appear timid — stay close to their parents or caregivers when they are around other adults or
        children.<br>
        • struggle to engage in play with children their own age.<br>
        Bedtime can also be an unsettling time for children who are anxious. They might have difficulty getting to
        sleep and staying asleep. Their sleep might be interrupted by nightmares and they may need a lot of
        reassurance and comfort from parents or caregivers.
    </p>
    <p class="mainTitle">How to manage anxiety?</p>
    <p class="normalText">Anxious children and young people often show behaviours that can be stressful for parents
        or caregivers. These behaviours should be seen as ‘care seeking’ rather than ‘attention-seeking’. Parents or
        caregivers need to be patient with their children and understand that it is anxiety that is triggering these
        difficult behaviours. They need to talk calmly and reassure their children wherever possible.<br>
        When anxious feelings take over, it can feel scary and even life-threatening for a child or young person,
        especially when experiencing an extreme form of anxiety such as a panic attack. These feelings can seem
        overwhelming and the child may not be able to think clearly. Parents or caregivers need to be supportive and
        reassure their children that the feelings they are experiencing in their bodies are physical symptoms of
        their anxiety and will not harm them.
    </p>
    <img class="img-responsive" src="{% static 'imgs/manageanixty.jpg' %}">
    <p class="mainTitle">Examples of strategies for managing anxiety</p>
    <ul class="normalText">
        <li>Make time to talk to your child. Listen to your child and accept that their worries are very real for
            them. Explain that worries are normal, and everybody has them from time to time.</li>
        <li>Try and get your child to spend less time on worries by creating a ‘worry box’ and arranging ‘worry
            time’.</li>
        <li>Encourage your child to talk back to their worries. Agreeing a ‘code name’ for the worry, for example
            ‘The Annoying Grape’, may make the worry feel more manageable.</li>
        <li>Get your child to do something fun to distract them from their worries. — Help your child to make a list
            of things that went right in their day to help them develop an optimistic outlook.</li>
        <li>Support your child to focus on what they can do, rather they what they can’t do. Encouraging them to say
            ‘I can’ will promote more positive thinking.</li>
    </ul>
    <img class="img-responsive" src="{% static 'imgs/sadgirl.jpg' %}">
    <p class="mainTitle">Physical reactions</p>
    <p class="normalText"> Anxiety can cause physical reactions in children. For example, a child might complain of
        a headache or a stomach-ache. In more extreme cases of anxiety, children can experience panic attacks. They
        may feel any or all the following;</p>
    <ul class="normalText">
        <li>their heart rate may quicken.</li>
        <li>hey may find it hard to breathe.</li>
        <li>they may think they’re about to die.</li>
    </ul>
    <p class="normalText">These things can be very scary for children and they need loving, encouraging parents or
        caregivers to help them manage their worries and fears.
    <h1 class="tablehead">Below is a summary of the eight constructs in our learning framework</h1>
    <table class="specialeducationtable">
        <tr>
            <td class="mainTopic">Attention</td>
            <td>Maintaining mental energy for learning and work, absorbing and filtering incoming information, and
                overseeing the quality of academic output and behaviour
            </td>
        </tr>
        <tr>
            <td class="mainTopic">Higher Order Cognition
                (Complex Thinking)</td>
            <td>Comprehending concepts, generating original ideas, and using logical approaches to address complex
                problems
            </td>
        </tr>
        <tr>
            <td class="mainTopic">Language</td>
            <td>Understanding incoming oral and written information and communicating ideas orally and in writing
            </td>
        </tr>
        <tr>
            <td class="mainTopic">Memory</td>
            <td>Briefly recording new information, mentally juggling information while using it to complete a task,
                and storing and then recalling information at a later time
            </td>
        </tr>
        <tr>
            <td class="mainTopic">Neuromotor Functions
                (Controlling Movement)</td>
            <td>Using large muscles in a coordinated manner, controlling finger and hand movements, and coordinating
                muscles needed for handwriting
            </td>
        </tr>
        <tr>
            <td class="mainTopic">Social Cognition
                (Making and Keeping Friends)</td>
            <td>Knowing what to talk about, when, with whom, and for how long; working and playing with others in a
                cooperative manner; and nurturing positive relationships with influential people
            </td>
        </tr>
        <tr>
            <td class="mainTopic">Visual-Spatial Thinking </td>
            <td>Understanding information that is presented visually, generating products that are visual, and
                organizing materials and spaces
            </td>
        </tr>
        <tr>
            <td class="mainTopic">Temporal-Sequential
                Thinking
                (Keeping Track of Time/Order)</td>
            <td>Understanding the order of steps, events, or other sequences; generating products arranged in a
                meaningful order; and organizing time and schedules
            </td>
        </tr>
    </table>
    <div class="row text-center">
        <a href="{% url 'Home_stores:booksforsale' %}"><button class="readmoreButton">EXPLORE SPECIAL EDUCATION
                BOOKS</button></a>
    </div>
</div>

{% endblock body %}