{% extends 'base.html' %}
{% load static %}



{% block body %}

<section class="container ">
    <div class="row">
        <p class="pageHeadTitleMain col-md-3">PASSWORD RESET</p>

    </div>

</section>
<section>
    <div class="container contactUsForm">
        <p class="confirmation">We have sent an email to you<br>Please check your inbox to reset your password</p>
        <!--<p class="confirmation">The email you have entered is not registered<br>Please enter a registered email</p>-->

    </div>
</section>
{% endblock body %}