{% extends 'base.html' %}
{% load static %}



{% block body %}

<section class="container ">
    <div class="row">
        <p class="pageHeadTitleMain col-md-3">PASSWORD RESET</p>
    </div>
</section>

<section>
    <div class="container contactUsForm">
        <p class="contactformhead ">ENTER YOUR EMAIL HERE</p>
        <form class="contactform" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                <span class="icon fa fa-envelope fa-lg"></span>
            </div>
            <div class="col-sm-12 text-center">
                <input type="submit" class="btn btn-default" value="GET A NEW PASSWORD">
                {% if messages %}
                {% for m in messages %}
                <p style="color: red; font-size:18px;">{{ m }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
</section>

{% endblock body %}