{% extends 'base.html' %}
{% load static %}


{% block body %}

<section class="container ">
    <div class="row">
        <p class="pageHeadTitleMain col-md-3">NEW PASSWORD</p>
    </div>
</section>

<section>
    <div class="container contactUsForm">
        <p class="contactformhead">RESET YOUR PASSWORD</p>
        <form class="contactform" role="form " action="{% url 'Home:set-new-password' uidb64 token %}" method="POST">
            {% csrf_token%}
            <div class="form-group">
                <input type="password" class="form-control newPasswordReset" id="name" name="password1"
                    placeholder="Enter a new password" required>
                <p class="TextError"></p>
            </div>
            <div class="form-group">
                <input type="password" class="form-control newPasswordResetRepeat" id="name" name="password2"
                    placeholder="Confirm new password" required>
                <p class="TextErrorMatch"></p>
            </div>

            <div class="col-sm-12 text-center">
                <input id="Button" type="submit" class="btn btn-default resetpasswordbutton"
                    value="RESET YOUR PASSWORD">
                {% if messages %}
                {% for m in messages %}
                <p style="color: red; font-size:18px;">{{ m }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
</section>
{% endblock body %}

{% block Script %}
<script src="{% static 'js/resepasswordValidation.js' %}"></script>
{% endblock Script %}