{% extends 'base.html' %}
{% load static %}



{% block body %}

<section class="container ">
    <div class="row">
        <p class="pageHeadTitleMain col-md-3">NEW PASSWORD</p>
    </div>
</section>

<section>
    <div class="container contactUsForm">
        <p class="confirmation">Your password has been reset successfully<br>You can now login into your account</p>
        <div class="col-sm-12 text-center">
            <a href="{% url 'Home:signupandlogin' %}"> <button type="submit" class="btn btn-default">LOGIN NOW</button>
            </a>
        </div>
    </div>
</section>


{% endblock body %}